<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.decoration.dao.mapper.MaterialItemDOMapper">
  <resultMap id="BaseResultMap" type="com.decoration.dao.entity.MaterialItemDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="main_id" jdbcType="INTEGER" property="mainId" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="model_name" jdbcType="VARCHAR" property="modelName" />
    <result column="model_remark" jdbcType="VARCHAR" property="modelRemark" />
    <result column="standard_id" jdbcType="INTEGER" property="standardId" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="operate_user" jdbcType="VARCHAR" property="operateUser" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="yn" jdbcType="TINYINT" property="yn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, main_id, brand, model_name, model_remark, standard_id, status, img_url, remark, 
    operate_user, created, modified, yn
  </sql>

  <insert id="insert" parameterType="com.decoration.dao.entity.MaterialItemDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into material_item (main_id, brand, model_name,
      model_remark, standard_id, status, 
      img_url, remark, operate_user, 
      created, modified, yn
      )
    values (#{mainId,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{modelName,jdbcType=VARCHAR}, 
      #{modelRemark,jdbcType=VARCHAR}, #{standardId,jdbcType=INTEGER}, #{status,jdbcType=SMALLINT}, 
      #{imgUrl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{operateUser,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP}, #{yn,jdbcType=TINYINT}
      )
  </insert>

  <!--扩展了一个属性的MAP(规格名称)-->
  <resultMap id="ExtResultMap" type="com.decoration.dao.entity.ext.MaterialItemExtDO" extends="BaseResultMap">
    <result column="standard" property="standard"/>
  </resultMap>

  <select id="selectPage" resultMap="ExtResultMap" parameterType="com.decoration.common.param.MaterialItemQueryParam">
    select m.*,s.name standard
    from material_item m LEFT JOIN standard s on m.standard_id = s.id and m.yn = s.yn
    where m.yn=1
    <if test="param.mainId != null">
      and m.main_id = #{param.mainId}
    </if>
    <if test="param.status != null and param.status != -999">
      and m.status = #{param.status}
    </if>
    <if test='param.brand != null and param.brand != ""'>
      and m.brand like CONCAT('%', #{param.brand,jdbcType=VARCHAR}, '%')
    </if>
    <if test='param.modelName != null and param.modelName != ""'>
      and m.model_name like CONCAT('%', #{param.modelName,jdbcType=VARCHAR}, '%')
    </if>
    ORDER BY m.modified desc
  </select>

  <update id="updateByKeySelective">
    update material_item
    <trim prefix="set" suffixOverrides=",">
      <if test="modelName != null">
        model_name = #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="modelRemark != null">
        model_remark = #{modelRemark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="operateUser != null">
        operate_user = #{operateUser,jdbcType=VARCHAR},
      </if>
      modified=now()
    </trim>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteByKey">
    DELETE from material_item where id=#{id}
  </delete>

</mapper>